{
	"branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.MD"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.MD"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}